@font-face {
    font-family: 'BYekan';
    font-weight: normal;
    src: url('../fonts/BYekan.eot?#') format('eot'),  /* IE6?8 */
         url('../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'nassim';
    font-weight: normal;
    src: url('../fonts/nassim-regular.eot?#') format('eot'),  /* IE6?8 */
         url('../fonts/nassim-regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/nassim-regular.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

h1, h2, h4 , h5, h6, small { font-family: BYekan !important; /* purple color:#563444 */; color: #4A4A4A;}
h3 { font-family: 'nassim' !important; }

.error { display: block; color:red; }

body {
  padding-top: 50px;
  background-color: #FFBD00;
}

.mybar {
	background-color: #007bb6 !important;
}

.mybar .navbar-inverse .navbar-nav > li > a  {
	color: #000 !important; 
}

.myMap {
	margin: 0px auto 10px auto;
}

#map_canvas {
        width: 500px;
        height: 400px;
}

.homediv {
	margin-top: 1em;
}
.loginform {
	margin-bottom: 10px;
}

input, button, select {
	font-family: BYekan !important;
}
.container2 {
	margin-top: 10px !important;
}
.MapClass{
    height: 500px; width: 100%;
}